<?xml version="1.0" encoding="UTF-8"?>
<fsm-maven-plugin>
    <modules>
        <module>
            <!-- use dependencies from this Maven project (../pom.xml) -->
            <id>${project.groupId}:${project.artifactId}:${project.version}</id>

            <!-- This matches the tag in prototype.module.xml -->
            <dependencyTagValueInXml>fsm-dependencies</dependencyTagValueInXml>
        </module>
    </modules>
</fsm-maven-plugin>
